# Python
_pycache_/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment / secrets
.env
*.key
*.pem

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow/logs/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Generated project data
data/raw/*.csv
data/raw/oracle/*.csv
data/raw/s3/**/*.csv
data/processed/*.csv